@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624263349240') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e726";
}

.icon-fenlei:before {
  content: "\e611";
}

.icon-shouye:before {
  content: "\e72c";
}

.icon-user:before {
  content: "\e614";
}

